.primary-button{
    background-color: var(--primary-color);
    padding: 0.625rem 1.25rem;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    border-radius: 1rem;
}


.secondary-button{
    background-color: var(--secondary-color);
    padding: 0.625rem 1.25rem;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    border-radius: 1rem;
    color: #21251F;
}

.outline-button{
    background-color: none;
    border: 1px solid var(--secondary-color);
    padding: 0.625rem 1.25rem;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    border-radius: 1rem;
    color: var(--primary-text-color);
}


.white-button{
    background-color: var(--secondary-text-color);
    padding: 1.25rem 5rem;
    border: none;
    border-radius: 1.063rem;
    transition: all 300ms ease-in-out;
    color: var(--primary-text-color);
    font-family: 'Wittgenstein';
}

.active{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.white-button:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}